@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    min-width: 96%;
    padding: 10px;
}

header > h1 {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8em;
    color: white;
    text-align: center;
    padding: 30px;
}

header > p {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

header > p > a:hover {
    text-decoration: underline;
}

article {
    width: 99%;
}

article p {
    margin-bottom: 130px;
}

section {
    background-color: white;
    width: 94%;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5em;
    padding: 50px;
}

section#s-2 {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

section#s-2 > p {
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    width: 50%;
} 

section#s-4 {
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

section#s-4 > p {
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    width: 50%;
} 

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 32px;
}

footer > p {
    color: white;
    font-size: 1em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

footer > p > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer > p > a:hover {
    text-decoration: underline;
}